@import url('https:// fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600& display=swap');
:root{
    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border: 1rem solid rgba(0,0,0,.1);
    --border-hover: .1 solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 02s linear;
    transition: width none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: var(--black);
}
section{
    padding:5rem 9%;
}
.home {
    background-size: cover;
    background-position: center;
}
.home .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    padding: 5%;
}
.home .row .content{
    flex:1 1 42rem;
}
.home .row .books-slider a img{
    height: 25rem;
}
.home .row .books-slider a:hover img{
    transform: scale(.9);
}
.home .row .books-slider .stand{
    width: 100%;
    margin-top: -2rem;
}
.home .row .content h3{
    color:#ebebeb;
    font-size: 4.5rem;
}
.home .row .content h3{
    color:#ebebeb;
    font-size: 5rem;
    line-height: 2;
    padding: 1rem 0;
}






























































/* media queries*/
@media (max-width:991px) {

    html{
    
    font-size: 55%;
    
    }
    
    .header .header-1{
         padding: 2rem;
    }
    section{
        padding:3rem 2rem;
    }
}
@media (max-width:768px) {

    html{
        scroll-padding-top: 0;
    
    }
    body{
        padding-bottom: 6rem;
    }

    .header .header-2{
    
    display:none;
    }
    .bottom-navbar{
        display: block;
    }
    #search-btn{
        display: inline-block;
    }
    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }
    .header .header-1 .search-form{
         position:absolute; 
         top:-115%; right: 2rem;
         width: 90;
         box-shadow: var(--box-shadow);
    }
    .header .header-1 .search-form.active{
        top:115%
    }
    .home .row .content{
        text-align: center;
    }
    .home .row .content h3{
        font-size: 3.5rem;
    }
}
@media (max-width:450px) {

    html{
    
    font-size: 50%;
    
    }
    
}
